<%= content_for :head do %>
  <br/>
  <div class="row bd-example">
    <div class="col-md-12 mb-4">
      <span class="display-2">Cliente </span>
      <span class="display-4"> » Editar</span>
    </div>
  </div>
<% end %>

<%= render 'form', cliente: @cliente %>

