
    <div class="col-md-4">
      <select class="form-control mr-sm-2 mt-2">
        <option>Muchas habitaciones</option>
        <option value="value1">1 dormitorio</option> 
        <option value="value3">2 dormitorio</option>
        <option value="value3">3 dormitorio</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control mr-sm-2 mt-2">
        <option>Varios baños</option>
        <option value="value1">1</option> 
        <option value="value3">2</option>
        <option value="value3">3</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control mr-sm-2 mt-2">
        <option>Todos los pisos</option>
        <option value="value1">1</option> 
        <option value="value3">2</option>
        <option value="value3">3</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control mr-sm-2 mt-2">
        <option>Area total</option>
        <option>Todos los pisos</option>
        <option value="value1">0-20</option> 
        <option value="value3">20-40</option>
        <option value="value3">40-60</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control mr-sm-2 mt-2">
        <option>Area techada</option>
        <option value="value1">0-20</option> 
        <option value="value3">20-40</option>
        <option value="value3">40-60</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control mr-sm-2 mt-2">
        <option>Todos los precios</option>
        <option value="value1">$0.00-$50 000.00</option> 
        <option value="value3">$50 000.00-$150 000.00</option>
        <option value="value3">$150 000.00-$300 000.00</option>
      </select>
    </div>
