<br>
<h1>Sobre nosotros</h1>
<br>
<div class="row">
    <div class="col-4">
    <div><img src="https://vidarq.pe/wp-content/uploads/2019/04/arquitecto-jorge-garrido-lecca-inmobiliaria-constructora-274x300.jpg" class="card-img" style="height: 100%;max-height: 300px;width: auto;" alt="...">
    <p><strong><span style="font-family: muli; font-size: 12pt;">  Fundador: Jorge Garrido Lecca</span></strong></p></div>
    <br><br><br><br>
    <div><img src="https://vidarq.pe/wp-content/uploads/2019/04/arquitecta-rosario-vidal-de-contructora-vidarq-274x300.jpg" class="card-img" style="height: 100%;max-height: 300px;width: auto;" alt="...">
    <p><strong><span style="font-family: muli; font-size: 12pt;">  Arquitecta: Rosario Vidal</span></strong></p></div>
    </div>
     <div class="col-5">
     <br>
     <div>
      <p><strong>“Un edificio debe tener carácter y personalidad, respetando al entorno al que pertenece. Hacer que eso suceda es nuestro trabajo”</strong></p>
    <p>Es socio fundador de R&J Garrido Lecca Arquitectos. Se graduó de arquitecto en la Universidad Nacional de Ingeniería. 
    Ha ganado 37 premios y a tenido 29 publicaciones y exposiciones a nivel nacional e internacional En su extensa trayectoria
    profesional ha diseñado más de un millón de metros cuadrados en diversos sectores (residenciales, centros comerciales, hospitales, 
    hoteles, colegios y universidades). Es profesor a tiempo completo de la UPC y la Universidad Nacional de Ingeniería.</p>
    </div>
    <br><br><br><br><br><br><br><br>
    <div>
      <p><strong>“Incursionar en el mundo del diseño y la construcción, me ha permitido hacer realidad mis sueños”</strong></p>
    <p>Rosario Vidal Calvo es socia fundadora de VIDARQ y RyJ arquitectos. Se graduó de arquitecta en la Universidad de Nacional de Ingeniería.
Ha sido directora de CAPECO y del Colegio de Arquitectos. Ha diseñado, construido y supervisado proyectos en diversos sectores (residenciales, comerciales, hotelería e instituciones privadas).</p>
    </div>
    </div>
</div>