<h1>Editing Caracteristicas Proyecto</h1>

<%= render 'form', caracteristicas_proyecto: @caracteristicas_proyecto %>

<%= link_to 'Show', @caracteristicas_proyecto %> |
<%= link_to 'Back', caracteristicas_proyectos_path %>
