
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Tipo de Documento</label>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">DNI</option> 
          <option value="value3">C. Extranjeria</option>
          <option value="value3">Pasaporte</option>
          <option value="value3">RUC</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Número de Documento</label>
        <input type="text" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Nombres</label>
        <input type="text" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Apellido Paterno</label>
        <input type="text" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Apellido Materno</label>
        <input type="text" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Correo Personal</label>
        <input type="email" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Teléfono</label>
        <input type="number" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Tipo de Persona</label>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">Juridico</option> 
          <option value="value3">Natural</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Género</label>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">Masculino</option> 
          <option value="value3">Femenino</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Fecha de Nacimiento</label>
        <input type="date" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
