<%= content_for :head do %>
  <br/>
  <div class="row bd-example">
    <div class="col-md-12 mb-4">
      <span class="display-2">Usuario </span>
      <span class="display-4"> » Nuevo</span>
    </div>
  </div>
<% end %>

<%= render 'form', usuario: @usuario %>
